.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  @media (min-width: 1024px) {
    padding-left: 300px;
    flex-direction: row;
    gap: 20px;
  }
}
