@import '../../veriables.scss';
.button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: $accentColor;
  font-size: 1.5rem;
  font-weight: 500;
  @media (min-width: 1024px) {
    position: unset;
  }
}
