@import '../../veriables.scss';

.drawer {
  position: fixed;
  top: 0;
  right: -30px;
  width: 0;
  height: 100dvh;
  background-color: $bgColor;
  transition: all 0.3s ease-in;
  z-index: 2;
  &.active {
    width: 100%;
    right: 0;
  }
}
